
#content-views {
    float: left;
    background-color: #75ad0a;
}

#content-views li {display:inline;}

#content-views a {
    color: White;
}

#content-views a, #content li.formTab a {
line-height: 2em;
padding: 0 0.75em;
text-decoration: none;
border: none;
font-weight: bold;
margin: 0;
border-image: initial;
}


#contentActionMenus {
    float: right;
    background: #75ad0a;
    margin: 0;
    list-style-type: none;
    margin-left: 2em;
}

ul#contentActionMenus li {
    list-style-type: none;
    display: inline;
}

#edit-bar {
    font-size: 0.75em;
}
#edit-bar a
{
    color:white !important;
}

#edit-bar .selected a,
#edit-bar a:hover
{
    color:black !important;
}

#content dl.actionMenu
 {   margin-bottom: 0px;
}

#contentActionMenus dl.actionMenu.activated dd a:hover, #contentActionMenus dl.actionMenu.activated dd .actionMenuSelected {
    background-color: White !important;
    color: #666666 !important;
}

#content a.link-overlay {
    border-bottom:none !important;
}

element.style {
    cursor: pointer;
}

#contentActionMenus dl.actionMenu a,
#contentActionMenus dl.actionMenu.activated dd {
    line-height: 1.9em;
}

#contentActionMenus dd.actionMenuContent ul {
    margin-left: .5em;
}