#portal-personaltools {
    background-color: transparent;
}

#portal-personaltools dd {
    background-color: black;
}


#portal-globalnav li a, #portal-globalnav .selected a {
    background-color: transparent;
    float: left;
    display: block;
    height: 2.4em;
    line-height: 2.3em;
    padding: 0 16px 0 16px;
    text-decoration: none;
    color: white;
    font-size: 0.785em;
    min-width: inherit;
    border-right: inherit;
}

#portal-globalnav .selected a:hover,
#portal-globalnav  a:hover {
    background-color: #4683BC;
    color: White;
}